body {
    font-family: Arial, sans-serif;
    background-color: #E1AFD1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sign-container {
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 872px;
    height: 466px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 97%;
    background-color: #D9D9D9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#password{
    margin : 5px 0px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7469B6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7469B6;
}

p {
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
